.link-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10%;
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 480px) {
  .link-container {
    flex-wrap: wrap;
  }

  .link-container > a {
    padding: 3%;
  }
}